.body {
  color: #333;
}

.body ul, .body ol {
  margin: 0;
  padding-left: 2em;
  text-align: left;
}

.body ol li{
  list-style-image: none;
  list-style-position: outside;
  list-style-type: decimal;
  padding-left: 0.2em;
}

.body  ul li{
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 0.2em;
}

.body  table th{
  color: #222;
  font-weight: bold;
  background-color: #eee;
}

.body  strong{
  color: #c07;
  font-weight:bold;
}

.body  em{
  color: #00f;
}

.body  del{
  text-decoration: line-through;
}

.body  blockquote{
/*
  margin: 0.5em;
  padding: 0.3em 0 0.2em 0.5em;
  border-left: 3px #ddd solid;
  background-color: #fafafa;
*/
  color: #555;
  margin: 0;
  padding: 0.5em 0.2em 0.2em 1.5em;
  background: #f5f5f5 url('/opWiki48Plugin/css/quote.png') no-repeat;
  border: 2px #f5f5f5 solid;
  /*-moz-border-radius: 5px;
  border-radius: 5px;*/
}

.body  h1{
margin: 1em 5px 0.5em 5px;
color: #007;
font-size:1.5em;
line-height: 1.2em;
font-weight:bold;
border-bottom: 4px solid #007;
/*border-left: 10px solid #27E;
padding-left: 10px;*/
}

.body  h2{
margin: 1em 5px 0.5em 5px;
color: #007;
font-size:1.4em;
line-height: 1.2em;
font-weight:bold;
border-bottom: 2px solid #007;
/*border-left: 6px solid #27E;
padding-left: 6px;*/
}

.body  h3{
margin: 1em 5px 0.5em 5px;
color: #007;
font-size:1.3em;
line-height: 1.2em;
font-weight:bold;
border-bottom: 1px solid #007;
/*border-left: 5px solid #27E;
padding-left: 5px;*/
}

.body  h4{
margin: 1em 5px 0.5em 5px;
color: #007;
font-size:1.2em;
line-height: 1.2em;
font-weight:bold;
border-bottom: 1px dotted #007;
}

.body  h5{
margin: 1em 5px 0.5em 5px;
color: #007;
font-size:1.1em;
line-height: 1.2em;
font-weight:bold;
border-bottom: 1px dotted #007;
}

.body  h6{
margin: 1em 5px 0.5em 5px;
color: #007;
font-weight:bold;
border-bottom: 1px solid #007;
}

.body  pre{
}

.body  p{
  margin: 0.5em;
}

.body .syntaxhighlighter table {
  table-layout: auto;
  width: 99% !important;
}

.body .syntaxhighlighter {
  width: 99% !important;
}


div.parts table{
width: auto;
}

div.parts table th,
div.parts table td{
padding:2px;
}

